body {
  background-color: skyblue;
  font-family: "Montserrat", sans-serif;
}

#main{
  display: grid;
  grid-template-columns: .5fr 2fr .5fr;
  grid-gap: 10px;
  grid-template-areas: ". center .";
  height: 100%;        
}

#inner{
  grid-area: center;
  align-self: center;
  justify-self: center;
  height: 60%;
}

#intro{
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

#subtitle{
  animation: pop .5s ease-in-out 2s forwards;
  opacity: 0;
}

#class-input{
  animation: fadeIn 1s ease-in-out 3.5s forwards;
  opacity: 0;
}

.class-input{
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  padding: 15px 20px 15px 20px;
  transition: width 0.5s ease-in-out;
}

.class-input:focus{
  width: 75%;
}

@keyframes fadeIn{
  from{
      transform: translateY(-30px);
      opacity: 0;
  }
  to{
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes pop{
  /* taken from http://angrytools.com/css/animation/ for bounce-in animation*/
  0%{
    opacity: 0;
    transform: scale(.3);
  }
  50%{
    opacity: 1;
    transform: scale(1.0);
  }
  70%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}