body {
  background-color: skyblue;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 24pt;
  font-weight: lighter;
}

h1, h2, .content {
  padding-left: 20px;
}

h2 {
  font-size: 16pt;
  font-weight: lighter;
}

p {
  font-size: 16pt;
  font-weight: bold;
}

.end-session {
  color: white;
  font-weight: lighter;
}

.class-color {
  font-weight: bold;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
}

.temp-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 75vh;
  width: 30vw;
  top: 185px;
  border-radius: 40px;
  padding: 15px;
}

.temp-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}

.dashes {
  height: 80%;
  width: 20px;
  display: flex;
  flex-direction: column;
}

.dash {
  height: 10%;
  width: 10px;
  border-top: 5px solid grey;
}

.long-dash {
  height: 10%;
  width: 20px;
  border-top: 5px solid grey;
}

.long-dash-clear {
  height: 10%;
}

.temp-visual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  height: 100%;
}

.thermometer {
  height: 100%;
  width: 60px;
  border-radius: 40px;
  background-color: pink;
  bottom: 0;
  position: absolute;
}

.thermometer2 {
  width: 60px;
  border-radius: 40px;
  background-color: red;
  bottom: 0;
  position: absolute;
}

.status {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 75vh;
  padding-right: 20px;
}

.reactions {
  height: 60%;
}

.end-button {
  background-color: #FF613F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pace-status, .end-button {
  height: 15%;
  margin-top: 5%;
}

.reactions, .pace-status {
  background-color: white;
}

.reactions, .pace-status, .end-button {
  border-radius: 20px;
}