body {
  background-color: skyblue;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 24pt;
  font-weight: lighter;
}

h1, h2, .content {
  padding-left: 20px;
}

h2 {
  font-size: 16pt;
  font-weight: lighter;
}

p {
  font-size: 16pt;
  font-weight: bold;
}

.end-session {
  color: white;
  font-weight: lighter;
}

.class-color {
  font-weight: bold;
  color: white;
}

.content {
  display: flex;
  justify-content: space-around;
}

.temp-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 75vh;
  width: 30vw;
  top: 185px;
  border-radius: 40px;
  padding: 15px;
}

.temp-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}

.dashes {
  height: 80%;
  width: 20px;
  display: flex;
  flex-direction: column;
}

.dash {
  height: 10%;
  width: 10px;
  border-top: 5px solid grey;
}

.long-dash {
  height: 10%;
  width: 20px;
  border-top: 5px solid grey;
}

.long-dash-clear {
  height: 10%;
}

.temp-visual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  height: 100%;
}

.thermometer {
  height: 100%;
  width: 60px;
  border-radius: 40px;
  background-color: pink;
  bottom: 0;
  position: absolute;
}

.thermometer2 {
  width: 60px;
  border-radius: 40px;
  background-color: red;
  bottom: 0;
  height: 70%;
  position: absolute;
  transition: height 0.25s ease-in;
}

.status {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-content: flex-end;
}

.reactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
}

button{
  border:0;
  background:none;
  /*And other css to remove the default button property */    
}

.react-button {
  max-width: 100px;
  max-height: 100px;
  width: 7vw;
  height: 7vw;
}

.big-face-container {
  margin-left: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.big-face {
  /* background-color: black; */
}

.other-reactions {
  background-color: #FF613F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pace-status, .other-reactions {
  height: 15%;
  margin-top: 5%;
}

.reactions, .pace-status {
  background-color: white;
}

.reactions, .pace-status, .other-reactions {
  border-radius: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.grid-block {
  background-image: url("/static/images/")
}

.transition-fade{
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .transition-fade{
  opacity: 0;
}

@media screen and (max-width: 168px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 9pt;
  }

  h1, h2, .content {
    padding-left: 0px;
  }

  h2 {
    font-size: 8pt;
  }

  p {
    font-size: 8pt;
  }

  .temp-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50vh;
    width: 95vw;
    top: 185px;
    border-radius: 10px;
  }

  .temp-numbers {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5px;
    width: 50%;
    height: 80%;
  }

  .dashes {
    height: 80%;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dash {
    height: 10%;
    width: 10px;
    border-top: 2px solid grey;
  }

  .long-dash {
    height: 10%;
    width: 20px;
    border-top: 2px solid grey;
  }

  .long-dash-clear {
    height: 10%;
  }

  .temp-visual {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 67%;
  }

  .thermometer {
    height: 100%;
    width: 30px;
    border-radius: 20px;
    background-color: #72C6EA;
  }

  .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    height: 30vh;
    padding-right: 0px;

  }

  .reactions {
    margin-top: 3%;
    height: 30%;
  }

  .pace-end {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .other-reactions {
    background-color: #FF613F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-top: 10%;
  }

  .pace-status {
    height: 50%;
    margin-top: 3%;
  }

  .reactions, .pace-status {
    background-color: white;
  }

  .reactions, .pace-status, .other-reactions {
    border-radius: 10px;
  }


}