<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to RoomTemp!</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet"/>
  </head>
  <body>
    <div id="main">
      <div id="inner">
        <div id="intro">
          <h1>Welcome to RoomTemp!</h1>
        </div>
        <div id="subtitle">
          <p class="subtitle">Creating a satisfactory online learning for both instructors and students</p>
        </div>
        <div id="class-input">
          <input type="text" class="class-input"/>
        </div>
      </div>
    </div>
  </body>
</html>