<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Room Temperature</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='css/prof.css')}}" rel="stylesheet"/>
  </head>
  <body>
    <h1>Your CSE 440 Room Temp</h1>
    <div class="content">
      <div class="temp-box">
        <div class="temp-numbers">
          <p>100</p>
          <p>50</p>
          <p>0</p>
        </div>
        <div class="temp-visual">
          <div class="thermometer">
          </div>
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    <!-- Optional JavaScript -->
    {% block script %}{% endblock %}
  </body>

</html>